openapi: 3.1.0
info:
  title: Cisco Directory Connector Management API (via Webex & ) Groups People API
  description: 'The Cisco Directory Connector is an on-premises Windows service that

    synchronizes users and groups from Active Directory or LDAP into Cisco

    Webex Control Hub. Programmatic management of the synced people and

    groups uses the Webex People and Groups APIs at webexapis.com/v1.

    Authentication uses OAuth 2.0 access tokens or service-app tokens

    scoped to the Webex organization.

    '
  version: 1.0.0
  contact:
    name: Webex for Developers
    url: https://developer.webex.com/docs/api/guides/directory-connector
servers:
- url: https://webexapis.com/v1
security:
- bearerAuth: []
tags:
- name: People
paths:
  /people:
    get:
      tags:
      - People
      summary: List synchronized people in the organization
      operationId: listPeople
      parameters:
      - in: query
        name: email
        schema:
          type: string
          format: email
      - in: query
        name: displayName
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: orgId
        schema:
          type: string
      - in: query
        name: max
        schema:
          type: integer
      responses:
        '200':
          description: A list of people
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Person'
    post:
      tags:
      - People
      summary: Create a person
      operationId: createPerson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: Created person
  /people/{personId}:
    parameters:
    - in: path
      name: personId
      required: true
      schema:
        type: string
    get:
      tags:
      - People
      summary: Get person details
      operationId: getPerson
      responses:
        '200':
          description: A person
    put:
      tags:
      - People
      summary: Update a person
      operationId: updatePerson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: Updated person
    delete:
      tags:
      - People
      summary: Delete a person
      operationId: deletePerson
      responses:
        '204':
          description: Deleted
components:
  schemas:
    Person:
      type: object
      properties:
        id:
          type: string
        emails:
          type: array
          items:
            type: string
            format: email
        displayName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        orgId:
          type: string
        roles:
          type: array
          items:
            type: string
        licenses:
          type: array
          items:
            type: string
        userName:
          type: string
        loginEnabled:
          type: boolean
        status:
          type: string
        type:
          type: string
          enum:
          - person
          - bot
          - appuser
        created:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2-Access-Token
