openapi: 3.1.0
info:
  title: Cisco Directory Connector Management API (via Webex People & ) Groups API
  description: 'The Cisco Directory Connector is an on-premises Windows service that

    synchronizes users and groups from Active Directory or LDAP into Cisco

    Webex Control Hub. Programmatic management of the synced people and

    groups uses the Webex People and Groups APIs at webexapis.com/v1.

    Authentication uses OAuth 2.0 access tokens or service-app tokens

    scoped to the Webex organization.

    '
  version: 1.0.0
  contact:
    name: Webex for Developers
    url: https://developer.webex.com/docs/api/guides/directory-connector
servers:
- url: https://webexapis.com/v1
security:
- bearerAuth: []
tags:
- name: Groups
paths:
  /groups:
    get:
      tags:
      - Groups
      summary: List groups in the organization
      operationId: listGroups
      parameters:
      - in: query
        name: orgId
        schema:
          type: string
      - in: query
        name: includeMembers
        schema:
          type: boolean
      - in: query
        name: attributes
        schema:
          type: string
      - in: query
        name: sortBy
        schema:
          type: string
      - in: query
        name: sortOrder
        schema:
          type: string
          enum:
          - asc
          - desc
      - in: query
        name: filter
        schema:
          type: string
      - in: query
        name: max
        schema:
          type: integer
      responses:
        '200':
          description: A list of groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
    post:
      tags:
      - Groups
      summary: Create a group
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: Created group
  /groups/{groupId}:
    parameters:
    - in: path
      name: groupId
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      summary: Get group details
      operationId: getGroup
      parameters:
      - in: query
        name: includeMembers
        schema:
          type: boolean
      responses:
        '200':
          description: A group
    patch:
      tags:
      - Groups
      summary: Update a group
      operationId: updateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: Updated group
    delete:
      tags:
      - Groups
      summary: Delete a group
      operationId: deleteGroup
      responses:
        '204':
          description: Deleted
  /groups/{groupId}/members:
    parameters:
    - in: path
      name: groupId
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      summary: List group members
      operationId: listGroupMembers
      parameters:
      - in: query
        name: max
        schema:
          type: integer
      responses:
        '200':
          description: A list of group members
components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: string
        orgId:
          type: string
        displayName:
          type: string
        description:
          type: string
        memberSize:
          type: integer
        usage:
          type: string
        members:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              display:
                type: string
        meta:
          type: object
          properties:
            created:
              type: string
              format: date-time
            lastModified:
              type: string
              format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2-Access-Token
